*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  p{
    margin-top: 10px;
    color: rgb(99, 99, 99);
    text-align: left;
    font-size: 10px;
    font-family: sans-serif;
  }
  h2{
    margin-top: 10px;
    color: rgb(99, 99, 99);
    text-align: left;
    font-family: sans-serif;
  }
  h5{
    color: rgb(99, 99, 99);
    text-align: justify;
    font-size: 14px;
  }
  .a{
    margin-top: 40px;
    image-resolution:inherit;
  }
  .b{
      margin-top: 40px;
  }
  .o{
    margin-top: 40px;
}
  table, th, td {
    margin-top: 40px ;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
  }
  .wrapper{
    background:red;
    position: relative;
    width: 100%;
  }
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #323c4e;
  }
  .wrapper .search-icon,
  .wrapper .menu-icon{
    color:rgb(0, 0, 0);
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  .wrapper .menu-icon{
    display: none;
  }
  .wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
  }
  
  .wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
  }
  .wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: rgb(10, 5, 5);
    background:g#8a8d8f;
    padding: 0 100px 0 15px;
  }
  .search-box input::placeholder{
    color: #110707;
  }
  .search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background:#000000;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
  }
  .wrapper input[type="checkbox"]{
    display: none;
  }
  
  .content .links ul{
    position: absolute;
    background: #8a8d8f;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
    z-index: -1;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
    z-index: -1;
  }
  .content .links ul li{
    position: relative;
    z-index: -1;
  }
  .content .links ul li:hover ul{
    top: 0;
    z-index: -1;
  }
  @media screen and (max-width: 1024px) {
    .wrapper {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      width: 10%;
    }
  }
  @media screen and (max-width: 320px) 
  {
    .wrapper {
      width: 25%;
    }
  }